<script id="myScript" src="https://giscus.app/client.js"
    data-repo="sethbarberee/sethbarberee.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnk4MTM3Mzg4MA=="
    data-category="Announcements"
    data-category-id="DIC_kwDOBNmquM4CXx5O"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>

<script>
    // https://github.com/giscus/giscus/issues/336 
    const html = document.querySelector("html");
    const giscusTheme = html.getAttribute("data-theme") === "dark" ? "dark" : "light";

    var someScriptElement = document.getElementById("myScript");
    someScriptElement.setAttribute("data-theme", giscusTheme);

    function changeTheme() {
        const html = document.querySelector("html");
        const newGiscusTheme = html.getAttribute("data-theme") === "dark" ? "light" : "dark"; // theme we are changing to

        function sendMessage(message) {
          const iframe = document.querySelector('iframe.giscus-frame');
          if (!iframe) return;
          iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        sendMessage({
          setConfig: {
            theme: newGiscusTheme
          }
        });
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.querySelector('.theme-toggle');
        if (toggle) {
            toggle.addEventListener('click', changeTheme);
        }
    });

</script>

