<div class="progress-bar" aria-hidden="true"></div>
<style>
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: var(--links);
    z-index: 100;
    transition: width 50ms linear;
  }
</style>
<script>
(function() {
  var bar = document.querySelector('.progress-bar');
  window.addEventListener('scroll', function() {
    var scrollTop = window.scrollY;
    var docHeight = document.documentElement.scrollHeight - window.innerHeight;
    if (docHeight > 0) {
      bar.style.width = (scrollTop / docHeight * 100) + '%';
    }
  });
})();
</script>
