<script type="text/javascript">
  window.addEventListener('load', themeChange);
  const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
  if (currentTheme)
    document.documentElement.setAttribute('data-theme', currentTheme);

  function themeChange() {
    var button = document.querySelector('.theme-toggle');
    if (!button) return;

    function updateIcon(theme) {
      button.setAttribute('aria-pressed', theme === 'dark' ? 'true' : 'false');
      button.querySelector('.icon-sun').style.display = theme === 'dark' ? 'block' : 'none';
      button.querySelector('.icon-moon').style.display = theme === 'dark' ? 'none' : 'block';
    }

    updateIcon(document.documentElement.getAttribute('data-theme'));

    button.addEventListener('click', function (e) {
      var currentTheme = document.documentElement.getAttribute('data-theme');
      var next = currentTheme === 'dark' ? 'light' : 'dark';

      transition();
      document.documentElement.setAttribute('data-theme', next);
      localStorage.setItem('theme', next);
      updateIcon(next);
    });

    function transition() {
      document.documentElement.classList.add('transition');
      window.setTimeout(function () {
        document.documentElement.classList.remove('transition');
      }, 1000);
    }
  }
</script>
